body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: brown;
}

canvas{
    border: 7px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px, 5px, rgb(121, 110, 110);
}